<div class="rn-blog-area rn-section-gap section-separator" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
                    <span class="subtitle">Notes on learning, systems, and software development in progress</span>
                    <h2 class="title">Building in Public</h2>
                </div>
            </div>
        </div>
        <div class="row mt--25 mt_md--5 mt_sm--5">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="blog-wrapper blog-slick-activation slick-arrow-style-one rn-slick-dot-style">

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalAnalogClockProject">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0002-AnalogClockProject.png') }}" alt="Analog Clock Project">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Analog Clock Project
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalHelloWorld">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0001-HelloWorld.png') }}" alt="Hello, World (But Make It Intentional)">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 2 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Hello, World (But Make It Intentional)
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                </div>
            </div>
        </div>
    </div>
</div>