<div class="rn-blog-area rn-section-gap section-separator" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
                    <span class="subtitle">Notes on learning, systems, and software development in progress</span>
                    <h2 class="title">Building in Public</h2>
                </div>
            </div>
        </div>
        <div class="row mt--25 mt_md--5 mt_sm--5">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="blog-wrapper blog-slick-activation slick-arrow-style-one rn-slick-dot-style">

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2020AngularCLIApp">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0030-AngularCLIApp.png') }}" alt="Angular CLI Application: Fundamentals with Intent">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">16 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 7 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Angular CLI Application:<br>Fundamentals with Intent
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2020BudgetApplication">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0029-BudgetApplication.png') }}" alt="Budget Application: Core Front-End Logic">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">16 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 8 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Budget Application:<br>Core Front-End Logic
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2020PigGame">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0028-PigGame.png') }}" alt="The Pig Game: Vanilla JavaScript Game Logic">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">15 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">The Pig Game:<br>Core JavaScript in Action
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2020AncientWhiteArmyVet">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0027-AncientWhiteArmyVet.png') }}" alt="AncientWhiteArmyVet’s RPG Tools: Static, Sharp, Useful">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">15 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 6 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">AncientWhiteArmyVet’s RPG Tools: Static, Sharp, Useful
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2019FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0026-FrankJamison.png') }}" alt="FrankJamison.com: A Practical Web Portfolio">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">14 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com:<br>A Practical Web Portfolio
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2019VeteranJobInfo">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0025-VeteranJobInfo.png') }}" alt="VeteranJobInfo.us: Built to Help, Not to Flex">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">14 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">VeteranJobInfo.us:<br>Built to Help, Not to Flex
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2019AncientWhiteArmyVet">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0024-AncientWhiteArmyVet.png') }}" alt="AncientWhiteArmyVet’s RPG Tools: Less Grind, More Game">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">14 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">AncientWhiteArmyVet’s RPG Tools: Less Grind, More Game
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2018Questkeeper">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0023-Questkeeper.png') }}" alt="QuestKeeper: A Classic D&D Character Tracker">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">14 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 6 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">QuestKeeper: A Classic<br>D&D Character Tracker
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2018FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0022-FrankJamison.png') }}" alt="FrankJamison.com: Built, Not Assembled">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">13 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 6 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com:<br>Built, Not Assembled
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2018FranksClassicCars">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0021-FranksClassicCars.png') }}" alt="Frank’s Classic Cars: Built the Old-School Way">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">13 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 6 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Frank’s Classic Cars:<br>Built the Old-School Way
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2017RPGStatRoller">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0020-RPGStatRoller.png') }}" alt="2017 RPG Stat Roller: Thoughtful Front-End Craft">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">12 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 6 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">2017 RPG Stat Roller:<br>Thoughtful Front-End Craft
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2017RiversideMassageAndSpa">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0019-RiversideMassageAndSpa.png') }}" alt="Riverside Massage & Spa: A Clean Static Business Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">12 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Riverside Massage & Spa:<br>A Static Business Website
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2017StopwatchApplication">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0018-StopwatchApplication.png') }}" alt="2017 Stopwatch Application: Front-End Timekeeping Tool">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">11 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 7 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">2017 Stopwatch Application:<br>Front-End Timekeeping Tool
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2017JavaScriptGuessingGame">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0017-JavaScriptGuessingGame.png') }}" alt="JavaScript Guessing Game: Front-End Fundamentals">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">11 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">JavaScript Guessing Game:<br>Front-End Fundamentals
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2017FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0016-FrankJamison.png') }}" alt="FrankJamison.com: A Purpose-Built Resume Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">11 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com:<br>A Purpose-Built Resume
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2016FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0015-FrankJamison.png') }}" alt="FrankJamison.com: A Modern Resume Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">11 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 7 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com: A Modern Resume Website
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2016VirtualWorld">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0014-VirtualWorld.png') }}" alt="From Console to Browser: The Journey of Virtual World">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">11 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">From Console to Browser: <br>The Journey of Virtual World
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2015JamisonWebDesign">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0013-JamisonWebDesign.png') }}" alt="Jamison Web Design: A Static Business Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">10 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Jamison Web Design: <br>A Static Business Website
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2015MiFamiliaTacoCatering">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0012-MiFamiliaTacoCatering.png') }}" alt="Mi Familia Taco Catering: Front-End Design with Intention">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">10 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Mi Familia Taco Catering: <br>Intentional Front-End Design
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2015RPGBookProject">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0011-RPGBookProject.png') }}" alt="The RPG Book Project">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">10 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Chronicles of the<br>2015 RPG Book Project
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2013FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0009-FrankJamison.png') }}" alt="FrankJamison.com: A Personal Web Presence">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 7 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com:<br>A Personal Web Presence
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2007GlobeBank">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0008-GlobeBank.png') }}" alt="Globe Bank: Global Finance, Structured by Design">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Globe Bank: Global Finance,<br>Structured by Design
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006MSJCAdminOfJustice">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0007-MSJCAdminOfJustice.png') }}" alt="Web Discipline and Authority: MSJC Administration of Justice Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Web Discipline and Authority:<br>MSJC Admin. of Justice Dept.
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006ZitaWorley">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0006-ZitaWorley.png') }}" alt="2006 Zita Worley's Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">The Zita Worley Project:<br>An Early Instructor Website
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006MoonwalkManor">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0005-MoonwalkManor.png') }}" alt="2006 Moonwalk Manor Front Page">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Moonwalk Manor:<br>A Hotel on the Moon?
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006TypingSpeedTest">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0004-TypingSpeedTest.png') }}" alt="Keystrokes Under Pressure: A 2006 Typing Speed Test">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Keystrokes Under Pressure:<br>A 2006 Typing Speed Test
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0003-FrankJamison.png') }}" alt="A 2006 Time Capsule: FrankJamison.com">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 2 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">A 2006 Time Capsule:<br>FrankJamison.com v1.0
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalAnalogClockProject">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0002-AnalogClockProject.png') }}" alt="Analog Clock Project">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Building Time:<br>Analog Clock Project
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalHelloWorld">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0001-HelloWorld.png') }}" alt="Hello, World (But Make It Intentional)">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 2 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Hello, World<br>(But Make It Intentional)
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                </div>
            </div>
        </div>
    </div>
</div>