<div class="rn-blog-area rn-section-gap section-separator" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
                    <span class="subtitle">Notes on learning, systems, and software development in progress</span>
                    <h2 class="title">Building in Public</h2>
                </div>
            </div>
        </div>
        <div class="row mt--25 mt_md--5 mt_sm--5">
            <div class="col-lg-12">
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="blog-wrapper blog-slick-activation slick-arrow-style-one rn-slick-dot-style">

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2015MiFamiliaTacoCatering">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0012-MiFamiliaTacoCatering.png') }}" alt="Mi Familia Taco Catering: Front-End Design with Intention">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">10 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Mi Familia Taco Catering: <br>Intentional Front-End Design
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2015RPGBookProject">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0011-RPGBookProject.png') }}" alt="The RPG Book Project">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">10 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Chronicles of the<br>2015 RPG Book Project
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2013FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0009-FrankJamison.png') }}" alt="FrankJamison.com: A Personal Web Presence">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 7 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">FrankJamison.com:<br>A Personal Web Presence
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2007GlobeBank">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0008-GlobeBank.png') }}" alt="Globe Bank: Global Finance, Structured by Design">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 5 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Globe Bank: Global Finance,<br>Structured by Design
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006MSJCAdminOfJustice">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0007-MSJCAdminOfJustice.png') }}" alt="Web Discipline and Authority: MSJC Administration of Justice Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Web Discipline and Authority:<br>MSJC Admin. of Justice Dept.
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006ZitaWorley">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0006-ZitaWorley.png') }}" alt="2006 Zita Worley's Website">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">9 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">The Zita Worley Project:<br>An Early Instructor Website
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006MoonwalkManor">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0005-MoonwalkManor.png') }}" alt="2006 Moonwalk Manor Front Page">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Moonwalk Manor:<br>A Hotel on the Moon?
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006TypingSpeedTest">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0004-TypingSpeedTest.png') }}" alt="Keystrokes Under Pressure: A 2006 Typing Speed Test">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 4 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Keystrokes Under Pressure:<br>A 2006 Typing Speed Test
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModal2006FrankJamison">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0003-FrankJamison.png') }}" alt="A 2006 Time Capsule: FrankJamison.com">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 2 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">A 2006 Time Capsule:<br>FrankJamison.com v1.0
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalAnalogClockProject">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0002-AnalogClockProject.png') }}" alt="Analog Clock Project">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 3 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Building Time:<br>Analog Clock Project
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                    <!-- Start Single blog -->
                    <div class="rn-blog-slick">
                        <div class="rn-blog" data-bs-toggle="modal" data-bs-target="#blogModalHelloWorld">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="javascript:void(0)">
                                        <img src="{{ url_for('static', filename='images/blog/blog-0001-HelloWorld.png') }}" alt="Hello, World (But Make It Intentional)">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-info">
                                        <div class="category-list">
                                            <a href="javascript:void(0)">8 January 2026</a>
                                        </div>
                                        <div class="meta">
                                            <span><i class="feather-clock"></i> 2 min read</span>
                                        </div>
                                    </div>
                                    <h4 class="title"><a href="javascript:void(0)">Hello, World<br>(But Make It Intentional)
                                            <i class="feather-arrow-up-right"></i></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single blog -->

                </div>
            </div>
        </div>
    </div>
</div>