<li class="nav-item current site-header__menu-item"><a class="nav-link smoth-animation active site-header__menu-link" href="#home">Home</a></li>
<li class="nav-item site-header__menu-item"><a class="nav-link smoth-animation site-header__menu-link" href="#featured-projects">Featured Projects</a></li>
<li class="nav-item site-header__menu-item"><a class="nav-link smoth-animation site-header__menu-link" href="#resume">Resume</a></li>
<li class="nav-item site-header__menu-item"><a class="nav-link smoth-animation site-header__menu-link" href="#portfolio">Portfolio</a></li>
<li class="nav-item site-header__menu-item"><a class="nav-link smoth-animation site-header__menu-link" href="#contacts">Contact</a></li>